@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    50% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    50% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes zoom {
    from {
      transform: scale(0.1);
    }
    to {
      transform: scale(1);
    }
}

@keyframes fade {
    from {opacity: .75} 
    to {opacity: 1}
  }