// Story picture
.story {
  &__pictures {
    background-image: url(../img/story-1.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    height: 70rem;
    order: 5;
    flex: 50%;

    //900px
    @media only screen and (max-width: $bp-medium) {
      height: 70vh;
    }

    // 700px
    @media only screen and (max-width: $bp-small) {
      flex: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #c69963;
      opacity: 0.3;
    }
  }
}

@supports (display: grid) {
  .story {
    &__pictures {
      grid-area: story__pictures;
    }
  }
}

// Story Content
.story {
  &__content {
    padding: 5rem 6rem;
    background-color: #f9f7f6;
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: center;
    order: 6;
  }

  /* 700px */
  @media only screen and (max-width: 43.75em) {
    flex: 100%;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }

  &__header {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}

button {
  align-self: flex-start;
}

%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-4 {
  @extend %heading;
  font-size: 2rem;
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $color-primary-dark;
}

.heading-2 {
  @extend %heading;
  font-style: italic;
  font-size: 4rem;
  line-height: 1;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}

.btn {
  background-color: #c69963;
  border: none;
  padding: 1rem 3rem;
  border-radius: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #101d2c;
  transition: all 0.2s;
  border-radius: 0.4rem;

  &:hover {
    background-color: $color-primary-dark;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.md-sm {
  margin-bottom: 2rem;
}
.md-md {
  margin-bottom: 3rem;
}
.md-lg {
  margin-bottom: 4rem;
}
.md-hg {
  margin-bottom: 8rem;
}

@supports (display: grid) {
  .story__content {
    grid-area: story__content;
    padding: 10rem 6rem;
    background-color: $color-grey-light-1;

    display: flex;
    flex-direction: column;
  }
}

// Footer
.footer {
  background-color: $color-secondary;
  padding: 8rem;
  order: 9;
  flex: 1 100%;

  &__icon-box {
    display: none;
  }

  //450px
  @media only screen and (max-width: $bp-smallest) {
    padding: 5rem;
  }
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__link,
  &__link:visited {
    align-self: center;
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    padding: 1.5rem;
    display: block;
    padding: 1rem 5rem;
    border-radius: 0.4rem;
  }

  &__link:hover,
  &__link:active {
    background-color: $color-primary;
    color: #101d2c;
  }
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center;
}

@supports (display: grid) {
  .footer {
    grid-area: footer;

    @supports (fill: #f9f7f6) {
      &__icon-box {
        margin-top: 5rem;
        display: flex;
        justify-content: center;

        //450px
        @media only screen and (max-width: $bp-smallest) {
          justify-content: space-around;
        }
      }

      &__icon {
        height: 3rem;
        width: 3rem;
        fill: $color-grey-light-1;
        margin: 0 2rem;
        transition: all 0.3s;
      }

      &__icon:hover {
        fill: $color-primary-dark;
      }

      &__icon-box a {
        text-decoration: none;
        color: inherit;
        text-decoration-line: none;
      }
    }
  }
}


//Sticky btn
.sticky__btn {
  display: none;
  position: fixed;
  bottom: 15%;
  right: 5%;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: $color-primary;
  border-radius: 0.4rem;
  animation: zoom 0.5s;
  transition: all 1s ease;
  z-index: 2;
}