// Header
.header {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8rem;
  order: 2;

  position: relative;

  flex: 1 65%;

  //1000px
  @media only screen and (max-width: $bp-large) {
    padding: 6rem;
  }

  //700px
  @media only screen and (max-width: $bp-small) {
    background-image: url(../img/small_background.jpg);
    padding: 4rem;
  }

  //450px
  @media only screen and (max-width: $bp-smallest) {
    background-image: url(../img/smallest_background.jpg);
    padding: 2.5rem;
  }

  & > * {
    position: inherit;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #101d2c;
    opacity: 0.93;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__btn {
    margin-top: 5rem;
    animation: moveUp 1s ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }

  & p {
    animation: moveLeft 1s ease-out;
  }

  &__logo {
    padding-bottom: 3rem;
    font-size: 4rem;
    font-weight: 400;
    color: #c69963;
    text-transform: uppercase;
    text-align: center;
    animation: moveRight 1s ease-out;
  }

  .heading-1 {
    font-family: $font-display;
    font-size: 3.5rem;
    color: $color-grey-light-1;
    line-height: 1;
  }

  & h3 {
    padding-bottom: 2rem;
    animation: moveDown 1s ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
  }
}

/* Team */
.team {
  background-color: $color-secondary;
  padding: 3rem;
  color: $color-grey-light-1;
  position: relative;
  display: flex;
  flex: 1 35%;
  align-items: center;
  order: 3;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  //900px
  @media only screen and (max-width: $bp-medium) {
    height: 30rem;
    padding: 3rem 0 0 0;
  }

  //700px
  @media only screen and (max-width: $bp-small) {
    height: 48rem;
  }

  &__wrap {
    display: inline-flex;
    flex-direction: column;
    width: max-content;
    backface-visibility: hidden;

    //900px
    @media only screen and (max-width: $bp-medium) {
      flex-direction: row;
      flex-wrap: wrap;
      width: fit-content;
      justify-content: space-around;
      padding: 0 2rem;
    }

    //700px
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      width: max-content;
      padding: 0;
    }
  }

  &__list {
    display: inline-flex;
    margin: 1rem;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
  }

  &__list:hover {
    color: $color-primary;
    opacity: 0.8;
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__details {
    margin-left: 2rem;
  }

  &__occupation {
    font-size: 1.4rem;
  }
}

@supports (display: grid) {
  .header {
    grid-area: header;
    display: inline-block;
  }

  .team {
    grid-area: team;
  }
}
