.popup {
  display: none;
  position: fixed;
  max-width: 256em;
  margin-left: 50%;
  transform: translateX(-50%);
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  z-index: 5;
  align-items: center;
  justify-content: center;
}

// Popup team && services
.popup {
  &__content {
    background-color: $color-grey-light-1;
    max-width: 50%;
    max-height: 94vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    animation: zoom 0.5s;
    overflow: auto;
    z-index: 6;
    border-radius: 1rem;
    justify-content: center;

    //1200px
    @media only screen and (max-width: $bp-largest) {
      max-width: 60%;
    }

    //1000px
    @media only screen and (max-width: $bp-large) {
      max-width: 70%;
    }

    //900px
    @media only screen and (max-width: $bp-medium) {
      max-width: 95%;
    }
  }

  &__sticky {
    position: sticky;
    top: 0;
    right: 0;
    flex: 100%;
    height: 6rem;
    background-color: $color-grey-light-1;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    display: block;
    border-radius: 0.4rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }

  &__text {
    font-size: 1.7rem;
    line-height: 1.6;
    color: inherit;
    margin: 4rem;

    //700px
    @media only screen and (max-width: $bp-small) {
      margin: 2rem;
    }
  }

  &__item {
    margin: 0 2rem;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 4rem;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      color: $color-primary;
    }
  }
}

// Popup contact
.popup {
  &__contact {
    background-image: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0.8) 100%,
        transparent 70%
      ),
      url(../img/background.jpg);

    background-size: cover;
    background-repeat: no-repeat;

    max-width: 96%;
    max-height: 94vh;

    position: relative;
    animation: zoom 0.5s;
    overflow: auto;
    border-radius: 1rem;

    display: flex;
    flex-flow: row wrap;

    //700px
    @media only screen and (max-width: $bp-small) {
      background-image: linear-gradient(
          100deg,
          rgba(255, 255, 255, 0.8) 100%,
          transparent 100%
        ),
        url(../img/small_background.jpg);
    }

    //450px
    @media only screen and (max-width: $bp-smallest) {
      background-image: linear-gradient(
          100deg,
          rgba(255, 255, 255, 0.8) 100%,
          transparent 100%
        ),
        url(../img/smallest_background.jpg);
    }
  }

  &__top {
    height: 6rem;
    background-color: rgba(255, 255, 254, 0.8392156862745098);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 7;
    border-radius: 1rem;
    flex: 100%;
  }

  &__wrapper {
    padding: 6rem 5rem;

    //900px
    @media only screen and (max-width: $bp-medium) {
      padding: 5rem 4rem;
    }

    //450px
    @media only screen and (max-width: $bp-smallest) {
      padding: 4rem 2rem;
    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__heading {
    order: 1;
    flex: 100%;
  }

  &__map {
    margin-top: 5rem;
    height: 50vh;
    order: 3;
    flex: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    flex: 100%;
    order: 2;
    position: relative;
  }

  &__input {
    font-size: inherit;
    background-color: rgba(#fff, 0.8);
    border-radius: 0.4rem;
    border: none;
    padding: 1.5rem 2rem;
    border-bottom: 0.3rem solid transparent;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    color: inherit;
    font-family: inherit;

    &:focus {
      outline: none;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    }

    &:focus:invalid {
      border-bottom: 0.3rem solid $color-primary;
    }
  }

  &__span {
    color: red;
    font-size: 1.6rem;
  }

  label {
    margin-top: 3rem;
  }

  textarea {
    resize: none;
    height: 12rem;
    margin-bottom: 3rem;
  }

  .btn {
    margin-top: 1rem;
    align-self: flex-start;
    cursor: not-allowed;
  }
}

// Popup slider
.popup__imageSlider {
  animation: fade 2s;
  max-width: 70%;
  max-height: 95vh;
  overflow: hidden;
  position: relative;

  //1200px
  @media only screen and (max-width: $bp-largest) {
    max-width: 80%;
  }

  //900px
  @media only screen and (max-width: $bp-medium) {
    max-width: 95%;
  }
}

.popup {
  &__leftArrow {
    left: 1rem;
  }

  &__rightArrow {
    right: 1rem;
  }

  &__leftArrow,
  &__rightArrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    font-family: $font-primary;
    padding: 1rem;
    margin-top: -5rem;

    //900px
    @media only screen and (max-width: $bp-medium) {
      font-size: 4rem;
    }

    //700px
    @media only screen and (max-width: $bp-small) {
      font-size: 3rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}
